#calculator-body {
  width: fit-content;
  background-color: #858693;
  margin: 2rem auto;
}

#calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 150px));
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

#calculator-screen {
  color: #e0e0e0;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: end;
}

button {
  background-color: #e0e0e0;
  font-size: 1.5rem;
  padding: 1rem;
  border: 1px solid #d3d2d3;
}

.orange-button {
  background-color: #f5913f;
}
